{% extends 'base.html' %}

{% block content %}

{% load static %}
	<!-- BANNER -->
	<div class="section banner-page" data-background="{% static '/images/employee1.jpg' %}">
		<div class="content-wrap pos-relative">
			<div class="d-flex justify-content-center bd-highlight mb-2">
				<div class="title-page text-light">ABOUT US</div>
			</div>
			<!-- <p class="text-center text-white">Your pet's health and well-being are our top priority.</p> -->
		</div>
	</div>
	<div class="section bg-breadcrumb">
		<div class="content-wrap py-0 pos-relative">
			<div class="container">
			    <nav aria-label="breadcrumb">
				  <ol class="breadcrumb ">
				    <li class="breadcrumb-item"><a href="{% url 'index' %}" style="color: rgb(52, 52, 121);">Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page" style="color: rgb(216, 114, 77);">About Us</li>
				  </ol>
				</nav>					
			</div>
		</div>
	</div>

	<!-- CONTENT -->
	<div class="section">
		<div class="content-wrap pb-0">
			<div class="container">
				<div class="row">
					<div class="section">
						<div class="content-wrap content-wrap-40">
							<div class="container">
								
								<div class="row">
									<div class="text-center">
										<img src="{% static '/images/img14.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="400">
									</div></hr>
				
									<div class="text-center">
										<img src="{% static '/images/img15.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="400">
									</div></hr><br>
				
									<div class="text-center">
										<img src="{% static '/images/img1.jfif' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="300">
									</div></hr><br>
				
									<div class="text-center">
										<img src="{% static '/images/img22.jfif' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
									</div></hr><br>
				
									<div class="text-center">
										<img src="{% static '/images/img33.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
									</div></hr><br>
									<div class="text-center">
										<img src="{% static '/images/BunnyRabbit-440x280.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
									</div></hr><br>
									<div class="text-center">
										<img src="{% static '/images/gall1.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
									</div></hr><br>
									

				
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						
						<img src="{% static '/images/pexels-pixabay-45201.jpg' %}" alt="" class="img-fluid img-border">

					</div>

					<div class="col-sm-12 col-md-6">
						<h2 class="section-heading text-primary no-after mb-4">
							Welcome to Pets Care
						</h2>
						<p class="subheading mb-4">Your pet's health and well-being are our top priority.</p>

						<p class="text-black lead"></p>We strive to provide our customers with the best selection, the best Doctor,and the best service in town.</p> 


						<p>Our philosophy is to helpour customers find the best information,the proper supplies,and the right animal with which to share their life. After all, happy pets make for happy households.Pleasse visit us and bring your own pet along.They are always welcome!</p>

						<p>Our Mission at pet House is to help you care and support your Pets!We know what it means to own a pet  and understand the unconditional love and companionship they provide. At Pet House,we believe that pets are a member of the family.That's why only offer high-quality food,trainning , grooming, that our Pets would use and that encourage a happy and healthy development! </p>

						<p>Good Works with greatest care of your  pets with love.</p>

					</div>

				</div>
				
					
				<div class="section">
					<div class="content-wrap content-wrap-40">
						<div class="container">
							
							<div class="row">
								
								<div class="text-center">
									<img src="{% static '/images/img55.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="400">
								</div></hr>
			
								<div class="text-center">
									<img src="{% static '/images/img66.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="400">
								</div></hr><br>
			
								<div class="text-center">
									<img src="{% static '/images/img77.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="300">
								</div></hr><br>
			
								<div class="text-center">
									<img src="{% static '/images/img88.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
								</div></hr><br>
			
								<div class="text-center">
									<img src="{% static '/images/img99.jfif' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
								</div></hr><br>
								
								<div class="text-center">
									<img src="{% static '/images/img11.jfif' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
								</div></hr><br>
								<div class="text-center">
									<img src="{% static '/images/img44.jpg' %}" class="avatar img-circle img-thumbnail" alt="avatar" width="150" height="200">
								</div></hr><br>

			
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	

	


	<!-- AWARDS -->
	<div class="section">
		<div class="content-wrap content-wrap-40">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<h2 class="section-heading text-center text-primary no-after mb-5">
							Our Awards
						</h2>
						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#">
								<img src="{% static '/images/client1.png' %}" alt="" class="img-fluid">
							</a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static '/images/client2.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static '/images/client3.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static '/images/client4.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static '/images/client5.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>

					<div class="col-6 col-sm-4 col-md-2">
						<div class="client-img">
							<a href="#"><img src="{% static '/images/client6.png' %}" alt="" class="img-fluid"></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}