{% block profile_content %}
<div class="row ml-auto mr-auto mt-4 mb-4">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        
        <a class="nav-link active" id="v-pills-services-tab" data-toggle="pill" href="#v-pills-services" role="tab"
          aria-controls="v-pills-services" aria-selected="false">Services</a>
        
        <a class="nav-link" id="v-pills-bookings-tab" data-toggle="pill" href="#v-pills-bookings" role="tab"
          aria-controls="v-pills-bookings" aria-selected="false">Booking</a>
        
        <a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab"
          aria-controls="v-pills-security" aria-selected="false">Security</a>
      
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
    </div>

    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <form class="needs-validation form-contact p-4" novalidate="false" action="{% url 'profile_update' %}" method="POST"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="input-group mb-3">
                    <div class="form-group wrap-custom-file">
                      <input type="file" name="user_image" id="user_image" accept=".jpg, .png" />
                      <label for="user_image">
                        <span><i class="fa fa-user" aria-hidden="true"></i></span>
                        <i class="icon-add fa fa-plus-circle"></i>
                        <i class="icon-edit fa fa-edit d-none"></i>
                      </label>
                      <div class="invalid-feedback">Please enter fullname.</div>
                    </div>
                    <div class="input-group-append ml-3">
                      <div class="form-group">
                        {% if profile_data.FullName != '' %}
                        <h3>{{profile_data.FullName}}</h3>
                        {% else %}
                        <h3>Hello Guest!</h3>
                        {% endif %}
        
                        <h5>{{profile_data.Master.Email}}</h5>
        
                        {% if profile_data.Master.Role.Role == 'user' %}
                        <h6>Pet Owner (customer)</h6>
                        {% else %}
                        <h6>Hello Guest!</h6>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
              <div class="row mt-2">
                <div class="col-6">
                  <div class="form-group">
                    <label for="fullname" class="h6">Full Name</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" value="{{profile_data.FullName}}"
                      placeholder="Enter full name" required="">
                    <div class="invalid-feedback">Please enter fullname.</div>
                  </div>
        
                  <div class="form-group">
                    <label for="mobile" class="h6">Mobile</label>
                    <input type="text" name="mobile" id="mobile" class="form-control input-sm" maxlength="10"
                      placeholder="Enter your mobile" value="{{profile_data.Mobile}}" required>
                    <div class="invalid-feedback">Please enter your mobile number.</div>
                  </div>
        
                  <div class="form-group ">
                    <label for="gender" class="h6">Gender</label>
                    <div class="pt-2 form-control">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="male" name="gender" value="m" class="m custom-control-input" required>
                        <label class="custom-control-label" for="male">Male</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="female" name="gender" value="f" class="f custom-control-input" required>
                        <label class="custom-control-label" for="female">Female</label>
                        <br>
                        <div class="invalid-feedback ml-2">Please choose your gender.</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="address" class="h6">Address</label>
                    <textarea class="form-control" id="address" name="address" rows="3"
                      required>{{profile_data.Address}}</textarea>
                    <div class="invalid-feedback">Please provide your address.</div>
                  </div>
        
                </div>
        
                <div class="col-6">
                  <div class="form-group">
                    <label for="country" class="h6">Contry</label>
                    <input type="text" class="form-control" id="country" name="country" value="{{profile_data.Country}}"
                      placeholder="Enter country" required="">
                    <div class="invalid-feedback">Please enter country.</div>
                  </div>
        
                  <div class="form-group">
                    <label for="state" class="h6">State</label>
                    <input type="text" name="state" id="state" class="form-control input-sm" maxlength="10"
                      placeholder="Enter your state" value="{{profile_data.State}}" required>
                    <div class="invalid-feedback">Please enter your state.</div>
                  </div>
        
                  <div class="form-group">
                    <label for="city" class="h6">City</label>
                    <input type="text" name="city" id="city" class="form-control input-sm" maxlength="10"
                      placeholder="Enter your city" value="{{profile_data.City}}" required>
                    <div class="invalid-feedback">Please enter your city.</div>
                  </div>
        
                  <div class="form-group">
                    <label for="pincode" class="h6">Pincode</label>
                    <input type="text" name="pincode" id="pincode" class="form-control input-sm" maxlength="10"
                      placeholder="Enter your Pincode" value="{{profile_data.Pincode}}" required>
                    <div class="invalid-feedback">Please enter your Pincode.</div>
                  </div>
        
                </div>
              </div>
        
              <div class="row mt-2">
                <div class="col-12 text-center mt-4">
                  <div class="form-group">
                    <div id="success"></div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                      Update</button>
                  </div>
                  <div class="mt-2"></div>
                  <p><em>We will send you email to confirm your appointment, after you've request an
                      appointment.</em></p>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade show active" id="v-pills-services" role="tabpanel" aria-labelledby="v-pills-services-tab">
          <div class="row">
            <div class="col-6">
              <label class="h5">Add Services</label>
              <form class="needs-validation form-appoinment" novalidate="false" action="" method="POST">
                {% csrf_token %}
                <div class="row">
                  
                  <dic class="col-6">
                    <div class="input-group mb-3">
                      <div class="form-group wrap-custom-file">
                        <input type="file" name="service_image" id="service_image" accept=".jpg, .png" />
                        <label for="service_image">
                          <span><i class="fa fa-user" aria-hidden="true"></i></span>
                          <i class="icon-add fa fa-plus-circle"></i>
                          <i class="icon-edit fa fa-edit d-none"></i>
                        </label>
                      </div>
                      <div class="input-group-append ml-3">
                        <div class="custom-control custom-switch mt-4">
                          <input type="checkbox" class="custom-control-input" name="isServiceActive" id="switchServiceActive">
                          <label class="custom-control-label" for="switchServiceActive">Active Service</label>
                        </div>
                      </div>
                    </div>
                    
                  </dic>
                  <dic class="col-6">
                    <div class="form-group">
                      <label for="fullname" class="h6">Service Name</label>
                      <select class="custom-select" style="text-transform: capitalize;" name="service" id="services_list" required>
                        {% for service in pet_service_names %}
                        <option value="{{service.short_tag}}">{{service.tag}}</option>
                        {% endfor %}
                      </select>
                      <div class="invalid-feedback">Please select service.</div>
                    </div>

                    <div class="form-group">
                      <label for="description" class="h6">Description</label>
                      <textarea class="form-control" id="description" name="description" rows="3"
                        required></textarea>
                      <div class="invalid-feedback">Please provide your description.</div>
                    </div>
                  </dic>
                </div>
        
                <div class="form-group">
                  <label style="font-size: smaller; font-style: italic;" class="text-primary">Note: You can make multiple
                    selection for pet and issue list.</label>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Service
                  </button>
                </div>
              </form>
            </div>
            <div class="col-6">
              <label class="h5">My Service List</label>
              <div class="tags services_list pl-4">
                {% for service in all_services %}
                <label class="tag-item mr-4 mb-3">
                    <span class="icon"><i class="fa fa-stethoscope"
                            aria-hidden="true"></i></span>
                    <span>{{service.Name}}</span>
                    <a href="{% url 'remove_service' pk=service.id %}"><span class="tag-item-del"><i class="fa fa-times"></i></span></a>
                </label>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        
        <div class="tab-pane fade" id="v-pills-bookings" role="tabpanel" aria-labelledby="v-pills-bookings-tab">
          <div class="row">
            <div class="col-12">
              <label class="h5">Booking List</label>
            
              <div class="table-responsive p-0 m-0 booking-history table-history" empty="You don't have history" style="height: 200px;">
                <table class="table table-striped">
                  <thead style="position: sticky;top: 0">
                    <tr>
                      <th scope="col">Service</th>
                      <th scope="col">Pet Owner</th>
                      <th scope="col">Pet Name</th>
                      <th scope="col">Date/Time</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for booking in all_bookings %}
                    <tr>
                      <td>{{booking.Service}}</td>
                      <td>{{booking.Master}}</td>
                      <td>{{booking.PetDetail.Name}}</td>
                      <td>{{booking.Date}}</td>
                      {% if booking.Status == 'pending' %}
                      <td>
                        <a href="{% url 'set_booking_status' booking_id=booking.id status='accepted' %}" class="btn btn-primary" style="min-width: min-content;">
                          <i class="fa fa-check"></i>
                        </a>
                        <a href="{% url 'set_booking_status' booking_id=booking.id status='canceled' %}" class="btn btn-danger" style="min-width: min-content;">
                          <i class="fa fa-times"></i>
                        </a>
                      </td>
                      {% else %}
                      <td>{{booking.Status}}</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
          <label class="h5">Change Password</label>
          <form class="needs-validation form-contact mt-4" novalidate="false" action="{% url 'change_password' %}"
            method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="password" class="h6">Current Password</label>
                  <input type="password" class="form-control" id="password" name="current_password" placeholder="Enter current password"
                     required>
                  <div class="invalid-feedback">Please enter current password.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="new_password" class="h6">New Password</label>
                  <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password"
                   required>
                  <div class="invalid-feedback">Please create your new password.</div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center mt-4">
              <div class="form-group">
                <div id="success"></div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-exchange mr-2" aria-hidden="true"></i>Change</button>
              </div>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <label class="h5">Account Settings</label>
          <div class="custom-control custom-switch mt-4">
            <input type="checkbox" class="custom-control-input" id="deactivate">
            <label class="custom-control-label" for="deactivate">Deactivate my account</label>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}